/* eslint-disable */
.eventrokicon-:before { content: '\e801'; } /* '' */
.eventrok-1icon-:before { content: '\e802'; } /* '' */
.eventrok-2icon-:before { content: '\e803'; } /* '' */
.eventrok-3icon-:before { content: '\e804'; } /* '' */
