/* eslint-disable */
.icon-na:before { content: '\e800'; } /* '' */
.icon-food:before { content: '\e801'; } /* '' */
.icon-hourglass:before { content: '\e802'; } /* '' */
.icon-meetup:before { content: '\e803'; } /* '' */
.icon-user-plus:before { content: '\e804'; } /* '' */
.icon-bold:before { content: '\e805'; } /* '' */
