/* eslint-disable */
::marker {
  display: none !important;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.refresh-pulse {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  animation-name: queue-refresh-pulse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes queue-refresh-pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

.car1{
  border: 0px solid #eeeeee;    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); padding: 10px;
}
.car2{
  background: #f7f8f9;
}
.car3{
  color: #0c6384; text-decoration: none;
}
.car4{
  color:red;
}
.car5{
  color:#0070d2;
}
.car6{
  margin-top: 0px;
}
.car7{
  text-align:center;
}
.dropdown-content {
  /* adnan abs */
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  font-size: 12px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.event-rok .slds-dropdown--left,
.event-rok .slds-dropdown_left {
  left: -94px;
  transform: translateX(0);
}

.main {
  background: url(${backgroundImage}/img/background2.png) #f3f7fa fixed;
  background-size: cover;
  display: block;
  width: 100%;
  top: 0;
  z-index: 1;
  background-position: left center;
  border-radius: 0px;
}

.scroll-bar-wrap {
  width: 100%;
  position: relative;
}

.scroll-box {
  width: 100%;
  overflow-y: scroll;
  text-align: left;
}

.scroll-box::-webkit-scrollbar {
  width: 0.6em;
}

.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
}

.scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.cover-bar {
  /* adnan abs */
  position: relative;
  background: #f3f7fa;
  height: 100%;
  top: 0;
  right: 0;
  width: 0.6em;
  transition: all 0.5s;
  opacity: 1 !important;
}

.slds-spinner_container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9050 !important;
  background-color: rgba(255, 255, 255, 0.75);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0s;
  transition-delay: 0s, 0.3s;
}

.slds-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9051;
  transform: translate(-50%, -50%) rotate(90deg);
}

.erp_Mark7 .h6,
.erp_Mark7 h6 {
  font-size: 1.25rem;
}

.disabledClass {
  cursor: not-allowed;
  pointer-events: none;
}

.overflowarea-maq {
  height: 1362px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch !important;
}

@media (max-width: 1024px) {
  .slds-modal__container {
    transform: translate(0, 0);
    transition: transform 0.1s linear, opacity 0.1s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
    height: auto;
    padding: 3rem 0;
    border-radius: 0.25rem;
  }

  .overflowarea-maq {
    height: 100% !important;
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
  }

  .postionfixed {
    /* adnan abs */
    width: 95% !important;
    position: relative;
    top: 4% !important;
    left: 3% !important;
    display: block;
    z-index: 99;
  }
}

@media (max-width: 768px) {
  .slds-modal__container {
    transform: translate(0, 0);
    transition: transform 0.1s linear, opacity 0.1s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
    height: auto;
    padding: 3rem 0;
    border-radius: 0.25rem;
  }

  .overflowarea-maq {
    height: 100% !important;
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
  }

  .postionfixed {
    /* adnan abs */
    width: 95% !important;
    position: relative;
    top: 3% !important;
    left: 3% !important;
    display: block;
    z-index: 99;
  }
}

.event-rok .slds-file-selector--files .slds-file-selector__text,
.event-rok .slds-file-selector_files .slds-file-selector__text {
  margin-left: 0.5rem;
  margin-right: 0.75rem;
  font-size: 8px;
}

.postionfixed {
  /* adnan abs */
  width: 60%;
  position: relative;
  top: 10%;
  left: 6%;
  display: block;
  z-index: 9999;
}

@media (max-width: 768px) {
  .postionfixed {
/* adnan abs */
    width: 90%;
    position: relative;
    top: 3%;
    left: 6%;
    display: block;
    z-index: 99;
  }

  .event-rok .slds-file-selector--files .slds-file-selector__text,
  .event-rok .slds-file-selector_files .slds-file-selector__text {
    margin-left: 0.5rem;
    margin-right: 0.75rem;
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .postionfixed {
    /* adnan abs */
    width: 90%;
    position: relative;
    top: 3%;
    left: 6%;
    display: block;
    z-index: 99;
  }

  .event-rok .slds-file-selector--files .slds-file-selector__text,
  .event-rok .slds-file-selector_files .slds-file-selector__text {
    margin-left: 0.5rem;
    margin-right: 0.75rem;
    display: none !important;
  }
}

@media (min-width: 768px) {
  .col-lg-3 {
  }
}

.scmaq {
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 48em) {
  .event-rok .slds-modal__container {
    margin: 0 auto;
    width: 35%;
    max-width: 40rem;
    min-width: 20rem;
  }
}



.maq .row-no-gutter {
  margin-right: 0;
  margin-left: 0;
}

.maq .row-no-gutter [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.maq .card {
  background: #fff;
  position: relative;
  transition: all 0.5s ease;
  border-radius: 15px;
}

.maq .city-selected {
  position: relative;
  overflow: hidden;
  min-height: 76px;
  background: #ffffff;
}

.maq article {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 6px 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.maq .info .city,
.maq .night {
  font-size: 16px;
  font-weight: 200;
  position: relative;
  color: #706e6b;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.maq .info .city:after {
}

.maq .city span {
  color: #706e6b;
  font-weight: lighter;
  text-transform: lowercase;
  text-align: left;
}

.maq .night {
  font-size: 15px;
  text-transform: uppercase;
}

.maq .icon {
  background: #31d0e5;
  padding: 8px 0px 0 10px;
  font-size: 14px;
  height: 30px;
  width: 30px;
  color: #fff;
  border-radius: 7px;
  order: 0;
  flex: 0 0 auto;
  align-self: center;
  overflow: visible;
}

.maq .temp {
  font-size: 73px;
  display: block;
  position: relative;
  font-weight: bold;
}

.maq .wind svg {
  width: 18px;
  height: 18px;
  margin-top: 20px;
  margin-right: 10px;
  vertical-align: bottom;
}

.maq .wind span {
  font-size: 13px;
  text-transform: uppercase;
}

.maq .city-selected:hover figure {
  opacity: 0.4;
}

.maq figure {
  /* adnan abs */
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.1;
  z-index: 1;
  transition: all 0.5s ease;
}

.maq .days .row [class*="col-"]:nth-child(2) .day {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #eaeaea;
}

.maq .days .row [class*="col-"] {
  transition: all 0.5s ease;
}

.maq .days .row [class*="col-"]:hover {
  background: #eaeaea;
}

.maq .day {
  padding: 10px 0px;
  text-align: center;
}

.maq .day h1 {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
}

.maq .day svg {
  color: #000;
  width: 32px;
}

.event-rok .slds-button--brand {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  background-color: #0c8eff !important;
  border: 1px solid #0c8eff !important;
  color: #fff !important;
}

.event-rok .slds-button--brand-dis {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  background: #c9c7c5;
  border-color: #c9c7c5;
  color: #fff;
}

.erp_mark7 .slds-nubbin_top:before,
.erp_mark7 .slds-nubbin--top:before {
  /* adnan abs */
  width: 1rem;
  height: 1rem;
  position: relative;
  transform: rotate(45deg);
  content: '';
  background-color: inherit;
  left: 50%;
  top: -0.5rem;
  margin-left: -0.5rem;
  display: none;
}

.erp_mark7 .slds-nubbin_top:after,
.erp_mark7 .slds-nubbin--top:after {
  box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.16);
  z-index: -1;
  display: none;
}

.fill-icon {
  fill: #0dc2d9 !important;
}

.event-rok .slds-gutters_small {
  margin-bottom: 5px;
}

.event-rok hr {
  display: block;
  margin: 0.5rem 0;
  border-top: 1px solid #dddbda;
  height: 1px;
  clear: both;
}

.event-rok label {
  font-size: 0.85rem;
  text-transform: none;
  color: #828181;
}

.features-boxed {
  color: #313437;
}

.features-boxed p {
  color: #7d8285;
}

.features-boxed h2 {
  font-weight: 700;
  margin-bottom: 0px;
  padding-top: 0px;
  color: inherit;
}

@media (max-width: 767px) {
  .features-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.features-boxed .intro p {
  margin-bottom: 0;
}

.features-boxed .features {
  padding: 15px 0;
}

.features-boxed .item .box {
  text-align: left;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  padding-top: 0px;
}

.features-boxed .item .icon {
  font-size: 20px;
  color: #1485ee;
  margin-top: 10px;
  margin-bottom: 10px;
}

.features-boxed .item .name {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0;
  color: inherit;
}

.features-boxed .item .description {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.slds-file-selector_files .slds-file-selector__button,
.slds-file-selector--files .slds-file-selector__button {
  max-height: 1.625rem;
  line-height: 1.625rem;
  font-size: 10px;
}

.neutralC {
  border: none;
}

.uiInput--datetime+.datePicker-openIcon,
.uiInput--datetime .datePicker-openIcon,
.uiInput--datetime+.timePicker-openIcon,
.uiInput--datetime .timePicker-openIcon {
  /* adnan abs */
  position: relative;
  vertical-align: middle;
  left: 170px;
  top: 72%;
  width: 12px;
  height: 15px;
  background: url(${backgroundImage}/aura/images/icon_openCalendar.png) no-repeat 0 0;
  display: none;
}

.event-rok .maq-form {
  padding: 1rem;
  background: #fff;
  border-radius: 15px;
}

.hide {
  display: none;
}

.btn {
  margin-bottom: 10px;
}

label.uiLabel {
  padding-right: 12px;
}

.field {
  border: 1px solid #dce4ec;
  border-radius: 3px;
  width: 100%;
}



.btn--form-servenext2 {
  width: 100%;
  border-radius: 0;
  color: #fff !important;

  border: 1px solid #b0adab !important;
  cursor: not-allowed !important;
  height: 38px;
  font-size: 0.95rem !important;
  font-weight: normal;
}

.btn--form-servenext {
  width: 100%;
  height: 38px;
  border-radius: 0;
  color: #fff !important;

  border: 1px solid #b0adab !important;
  cursor: not-allowed !important;
  font-weight: normal;
  font-size: 0.95rem !important;
}
 .btn--form-enable {
    width: 100%;
    height: 38px;
    border-radius: 0;
    background-color: #00bcd4 !important;
    border: 1px solid #00bcd4 !important;
    cursor: pointer;
    color: #ffffff;
    border-radius: 0 0 0 10px;
}

.event-rok .btn--form-success {
  font-size: 0.95rem !important;
  color: #f3f2f2 !important;
  background-color: #4bca81 !important;
  border: 1px solid #c4e5f8 !important;
  cursor: pointer;
  width: 100%;
  height: 38px;
  border-radius: 0;
}
.neutral-o .slds-button_neutral{
  border:0;
  background:transparent;
  color:#fff;
}
.btn-primary {
  width: 100%;
  height: 38px;
  border-radius: 0;
  background-color: #31d0e5;
  border: 1px solid #31d0e5;
}

.btn-success {
  background-color: #4bca81 !important;
  border: 1px solid #c4e5f8 !important;
  width: 100%;
  height: 38px;
  border-radius: 0;
}

.event-rok .boxshadow-area {
  box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25);
}

.erp_mark7 .slds-textarea {
  background-color: white;
  color: #16325c;
  border: 1px solid #d8dde6;
  border-radius: 0.25rem;
  width: 100%;
  transition: border 0.1s linear, background-color 0.1s linear;
  resize: vertical;
  padding: 0.5rem 0.75rem;
}

.erp_mark7 .slds-select {
  background-color: white;
  color: #16325c;
  border: 1px solid #d8dde6;
  border-radius: 0.25rem;
  width: 100%;
  transition: border 0.1s linear, background-color 0.1s linear;
  height: calc(1.875rem + (1px * 2));
}

.erp_mark7 .slds-input {
  background-color: white;
  color: #16325c;
  border: 1px solid #d8dde6;
  border-radius: 0.25rem;
  width: 100%;
  transition: border 0.1s linear, background-color 0.1s linear;
  display: inline-block;
  padding: 0 1rem 0 0.75rem;
  line-height: 1.875rem;
  min-height: calc(1.875rem + (1px * 2));
}

.eventrok .mb-3,
.eventrok .my-3 {
  margin-bottom: 0.7rem !important;
}

.eventrok p {
  margin-top: 0;
  margin-bottom: 0.27rem;
}

.eventrok .card-body {
  flex: 1 1 auto;
  padding: 0.5rem;
}

.eventrok .card-header {
  padding: 0.5rem 0.5rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

[data-scrollbar] {
  display: block;
  position: relative;
}

.scroll-content {
  transform: translate3d(0, 0, 0);
}

.scrollbar-track {
  /* adnan abs */
  position: relative;
  opacity: 0;
  z-index: 1;
  background: rgba(222, 222, 222, 0.75);
  user-select: none;
  transition: opacity 0.5s 0.5s ease-out;
}

.scrollbar-track.show,
.scrollbar-track:hover {
  opacity: 1;
  transition-delay: 0s;
}

.scrollbar-track-x {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
}

.scrollbar-track-y {
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
}

.scrollbar-thumb {
  /* adnan abs */
  position: relative;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

body {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.container__child {
}

.btn-orange {
  position: relative;
  top: 1px;
  background: #c9480c;
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  -webkit-appearance: none;
}

.btn-orange a:link,
.btn-orange a:visited {
  color: #fff;
  text-decoration: none;
}

.btn-orange:hover,
.btn-orange:focus {
  background: #036;
  color: #fff;
}

@media (min-width: 768px) {
  .erp_Mark7 .col-md-2 {
    flex: 0 0 19.666667%;
    max-width: 19.666667%;
  }
}

.btn--form-SaveBTN {
  width: 100%;
}

.btn--form-disSave {
  color: #fff !important;
  background-color: #b0adab !important;
  border: 1px solid #b0adab !important;
  cursor: not-allowed !important;
  width: 100%;
  border-radius: 0;
  height: 38px;
  font-size: 0.95rem !important;
  font-weight: normal;
}
.btn--form-enable {
    width: 100%;
    height: 38px;
    border-radius: 0;
    background-color: #00bcd4 !important;
    border: 1px solid #00bcd4 !important;
    cursor: pointer;
    color: #ffffff;
    border-radius: 0 0 0 10px;
}

.btn--form2 {
    font-size: 1rem;
    color: #fff;
    background-color: #f44336;
    border: 1px solid #f44336;
    border-radius: 0;
    outline: 0;
    cursor: pointer;
    height: 38px;
    width: 100%;
    border-radius: 0 0 10px 0;
}
.slds-card__footer {
    position: relative; /* This is important for positioning the hovered button */
    display: flex;
    justify-content: space-between;
}

.reschedule-on-hover {
  /* adnan abs */
    display: none;
    position: relative;
    right: 50%; /* Position it near the center */
    transform: translateX(50%); /* Adjust for perfect centering */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.slds-button_neutral:hover .reschedule-on-hover,
.cancel-button-container:hover .reschedule-on-hover {
    display: block; /* Show the button */
    opacity: 1; /* Fade it in */
}
.button-bg-ovrride{
  background: none !important;
    color: #ffffff !important;
    border: 0px !important;
}
.slds-input-has-icon_left-right .slds-input__icon_left{
  left: 0rem !important;
}

:host .slds-input-has-icon_left-right .slds-input__icon_left {
    left: 0rem !important;
}